* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 15px 20px;
    height: 5vh;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #e5e7eb;
}

.container {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 95vh;
    width: 100vw;
    padding-left: 100px;
}

.hero-left {
    color: #f9faf8;
    width: 40%;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding: 20px;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    padding: 20px;
}

#sign-up-button { 
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 18px;
    color: #f9faf8;
    font-weight: bold;
    border: 0;
    margin-left: 20px;
    text-decoration: none;
}

.hero-right {
    display: flex;
    height: 50%;
    width: 50%;
}

.hero-right img {
    height: auto;
    width: 100%;
    padding-right: 100px;
}

main {
    margin-top: 50px;
}

.about-heading {
    text-align: center;
    padding: 50px ;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.cards > div {
    max-width: 320px;
    padding: 20px;
    text-align: center;
    word-break: break-word;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}

.cards img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid black;
}

.quote-section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.quote-section p {
    width: 60%;
}

.quote-section h5 {
    margin-left: 40%;
}

#sign-up-section {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-card {
    display: flex;
    background-color: #3882f6;
    height: 50%;
    width: 70%;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    color: #e5e7eb;
}

.call-to-action-button {
    background: none;
    border: 2px white solid;
    padding: 5px 25px;
    border-radius: 5px;
    color: #e5e7eb;
    font-weight: bold;
}